@charset "utf-8";

/* Inter */
@font-face {
  font-weight: 700;
  font-family: "Inter";
  src: url("../font/Inter-Bold.eot");
  src: url("../font/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/Inter-Bold.woff2") format("woff2"),
    url("../font/Inter-Bold.woff") format("woff"),
    url("../font/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Inter";
  src: url("../font/Inter-SemiBold.eot");
  src: url("../font/Inter-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../font/Inter-SemiBold.woff2") format("woff2"),
    url("../font/Inter-SemiBold.woff") format("woff"),
    url("../font/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Inter";
  src: url("../font/Inter-Medium.eot");
  src: url("../font/Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/Inter-Medium.woff2") format("woff2"),
    url("../font/Inter-Medium.woff") format("woff"),
    url("../font/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Inter";
  src: url("../font/Inter-Regular.eot");
  src: url("../font/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Inter-Regular.woff2") format("woff2"),
    url("../font/Inter-Regular.woff") format("woff"),
    url("../font/Inter-Regular.ttf") format("truetype");
}

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block}
html,body{height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
body,input,select,textarea,button{font-family:Roboto,sans-serif;font-size:16px}
*{box-sizing:border-box}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none}
a{display:block;color:#000}
table{border-collapse:collapse;border-spacing:0}
.blind,caption span,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}


/* Common */
.inner {
  width: 1200px;
  margin: 0 auto;
}

.section {
  overflow: hidden;
  padding: 70px 0;
}

.section .text-title {
  position: relative;
  padding-bottom: 32px;
  color: #fff;
  font-size: 51px;
  font-weight: 700;
}

.section .text-title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65px;
  height: 8px;
  background-color: #FFD2BF;
  content: '';
}

.btn{
  min-width: 176px;
  padding: 16px;
  background: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #fff;
}

[data-animate="fadeInUp"] {
  opacity: 0;
  transition-delay: calc(var(--i, 0) * 1s);
  transform: translateY(200px);
}

.fade-active {
  opacity: 1;
  transform: translateY(0);
}

.text-area-line .text-line .line {
  overflow: hidden;
}

.text-area-line .text-line span {
  display: block;
  transform: translateY(100%);
  transition: transform .9s;
}

.text-area-line.is-active .text-line span {
  transform: translateY(0);
}


/* Header */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 25px 0;
  border-bottom: 1px solid transparent;
  transition-duration: .5s,.3s;
  transition-property: transform,background;
}

.header.is-sticky{
  background-color: rgba(255, 255, 255, .9);
  border-bottom-color: #e5e7ea;
}

.header.is-hide{
  transform: translateY(-120px);
}

.header-gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-gnb .logo {
  min-width: 266px;
}

.header-gnb .logo img{
  width: 100%;
  vertical-align: middle;
}

.header-gnb .btn-sign{
  position: relative;
}

.header-gnb .btn-sign:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.90);
  content: '';
}

/* GNB */
.gnb-list {
  display: flex;
  align-items: center;
}

.gnb-item {
  margin: 0 30px;
}

.gnb-item a{
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  color: #000;
}

/* Key visual */
.key-visual {
  position: relative;
  height: 100vh;
}

.key-text {
  position: relative;
  z-index: 0;
  padding-top: 231px;
  transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.key-text .title {
  color: #000;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
}

.key-text .text-desc {
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.61);
  font-size: 29px;
  font-weight: 400;
}

.key-text .btn-explore {
  display: inline-block;
  margin-top: 34px;
  padding: 15px 3px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 5px solid #000;
}

.key-sec {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.key-sec-sun {
  width: 496px;
  height: 434px;
  top: 136px;
  left: 600px;
}

.key-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About  */
.about {
  position: relative;
  background-color: #FFD2BF;
  padding-bottom: 337px;
}

.about .text-area-line {
  width: 576px;
}

.about .text-title {
  color: #000;
}

.about .text-title:after {
  background-color: #000;
}

.about .text-desc {
  margin-top: 46px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
}

.about .hiking-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 46px;
}

.about .hiking-item {
  display: flex;
  align-items: center;
  margin: 0 50px 18px 0;
}

.about .hiking-item .icon {
  width: 24px;
  height: 24px;
}

.about .hiking-item .text {
  margin-left: 4px;
  color: rgba(0, 0, 0, 0.62);
  font-size: 16px;
  font-weight: 400;
}

.about .img-bird {
  position: absolute;
  top: 58px;
  right: 390px;
  width: 198px;
}

.about img {
  width: 100%;
}

.about .bg-area-top {
  position: absolute;
  top: 70px;
  right: 0;
  width: 729px;
  height: 706px;
  transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.about .bg-area-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 337px;
  transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

/* Services */
.services {
  position: relative;
  padding-bottom: 500px;
  background: #010305 url(../image/bg-map-pattren.png) no-repeat;
}

.services .text-area-line {
  text-align: center;
}

.services .text-title:after {
  left: 50%;
  transform: translateX(-50%);
}

.services .text-desc {
  margin-top: 50px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

.services-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 97px;
}

.services-item {
  width: calc((100% - 60px) / 3);
  text-align: center;
}

.services-item .services-image {
  overflow: hidden;
  position: relative;
  width: 218px;
  margin: 0 auto;
  padding: 10px;
  border: 1px dashed #FFD2BF;
  border-radius: 50%;
}

.services-item .services-image img {
  width: 100%;
  border-radius: 50%;
}

.services-item .services-text {
  display: block;
  margin-top: 50px;
  color: #FFD2BF;
  font-size: 22px;
  font-weight: 700;
}

.services .bg-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.services .bg-bottom img {
  width: 100%;
}

/* Other */
.other {
  position: relative;
  padding-bottom: 400px;
  background-color: #130713;
}

.other img {
  width: 100%;
}

.other .text-title {
  font-size: 44px;
}

.other-content {
  display: flex;
  align-items: flex-start;
}

.other-content .guide {
  width: 50%;
}

.other-content .trails {
  width: calc(50% - 124px);
  margin-left: 124px;
}

.other .guide-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 62px;
}

.other .guide-item {
  width: calc(50% - 24px);
}

.other .item-base {
  display: flex;
  align-items: center;
}

.other .guide-item .avt-base {
  display: block;
  width: 70px;
}

.other .guide-item .text-base {
  margin-left: 18px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.other .guide-item .text-base >span {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.44);
  font-size: 20px;
  font-weight: 400;
}

.other .guide-item .text {
  display: block;
  margin-top: 32px;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.guide .btn-wrap {
  text-align: center;
}

.guide .btn-book {
  position: relative;
  z-index: 1;
  margin-top: 53px;
  padding: 9px 35px;
  border-radius: 20px;
  border: 2px solid #CC2D41;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.guide .btn-book:before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 0;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
  transition: ease 0.3s;
  content: '';
}

.guide .btn-book:hover {
  color: #000;
}

.guide .btn-book:hover:before {
  right: auto;
  left: 0;
  width: 100%;
}

.trails .text-desc {
  margin-top: 56px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.trails .trails-info {
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.trails .trails-item {
  margin-left: 47px;
}

.trails .trails-item:first-child {
  margin-left: 0;
}

.trails .trails-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.trails .trails-distance {
  display: block;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.44);
  font-size: 16px;
  font-weight: 300;
}

.trails .trails-time {
  display: block;
  margin-top: 3px;
  color: rgba(255, 255, 255, 0.44);
  font-size: 16px;
  font-weight: 300;
}

.other .bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Footer */
footer {
  padding: 44px 0 36px;
  background-color: #530030;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-content .footer-logo {
  width: 243px;
}

.footer-content .footer-logo img {
  width: 100%;
}

.footer-gnb-list {
  display: flex;
  align-items: center;
}

.footer-gnb-item {
  margin-left: 55px;
}

.footer-gnb-item a {
  color: #FFD2BF;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

footer .copyright {
  border-top: 1px solid rgba(255, 210, 191, 0.30);
  padding-top: 34px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

footer .copyright .name {
  color: #FE6C40;
}



