@charset "utf-8";

/* Inter */
@font-face {
  font-weight: 400;
  font-family: "Montaga";
  src: url("../font/Montaga-Regular.eot");
  src: url("../font/Montaga-Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/Montaga-Regular.woff2") format("woff2"),
    url("../font/Montaga-Regular.woff") format("woff"),
    url("../font/Montaga-Regular.ttf") format("truetype");
}

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button,article,aside,dialog,footer,header,section,footer,nav,figure,main{margin:0;padding:0;}
article,aside,dialog,footer,header,section,footer,nav,figure,main{display:block;}
html,body{height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
body,input,select,textarea,button{font-size:24px;font-family:'Montaga',sans-serif;}
*{box-sizing:border-box;}
fieldset,li,img{border:0;vertical-align:top;}
ul,ol{list-style:none;}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
address,caption,em{font-style:normal;}
a,a:focus,a:active,a:hover{text-decoration:none;}
a{display:block;color:#000;}
table{border-spacing:0;border-collapse:collapse;}
.blind,caption span,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap;}


/* Common */
.inner {
  width: 1440px;
  margin: 0 auto;
}

.btn{
  overflow: hidden;
  position: relative;
  min-width: 150px;
  padding: 17px 30px;
  border: 1px solid#C3937C;
  border-radius: 48px;
  background: #fff;
  font-size: 14px;
  color: #C3937C;
  transition: background-color 0.2s ease;
}

.btn:before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: -1;
  width: 0;
  height: calc(100% + 2px);
  border-radius: 50px;
  background-color: #C3937C;
  transition: ease 0.3s;
  content: '';
}

.btn:hover{
  border-color: #C3937C;
  background-color: transparent;
  color: #fff;
}

.btn:hover:before {
  right: auto;
  left: -1px;
  width: calc(100% + 2px);
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.animate {
	opacity: .0001;
	transition-delay: calc(var(--i) * .2s);
	transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
	transition-duration: .7s;
	transition-property: opacity, transform;
	transform: translateY(40px);
}

.animate.is-show {
  opacity: 1;
  transform: translateY(0);
}

.animate-zoom {
  opacity: 0;
}

.animate-zoom.is-show {
  animation: zoom-fade .5s calc(var(--i) * .2s) forwards cubic-bezier(0.22, 0.61, 0.36, 1);
}

.animate-right.is-show {
  animation: slideRight .7s calc(var(--i) * .2s) forwards cubic-bezier(0.39, 0.58, 0.57, 1);
  transform: translateY(0);
}

.animate-left.is-show {
  animation: slideLeft .7s calc(var(--i) * .2s) forwards cubic-bezier(0.39, 0.58, 0.57, 1);
  transform: translateY(0);
}

.animate-zoom-bg.is-show {
  animation: zoom-fade-bg .8s calc(var(--i) * .2s) forwards cubic-bezier(0.22, 0.61, 0.36, 1);
  transform: translateY(0);
}


/* Header */
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  height: 90px;
  border-bottom: 1px solid #ededed;
  background-color: #fff;
  box-sizing: border-box;
}

.header-gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 11px;
  box-sizing: border-box;
}

.header-gnb .logo-link {
  display: block;
  width: 150px;
}

.header-gnb .logo img{
  width: 100%;
}

.header .btn-mobile {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  z-index: 3;
  width: 40px;
  height: 40px;
}

.header .btn-mobile:before, 
.header .btn-mobile:after {
  display: block;
  position: absolute;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #4d4d4d;
  transition: all 0.3s linear;
  content: '';
}

.header .btn-mobile:before {
  top: 15px;
}

.header .btn-mobile:after {
  top: 23px;
}

/* GNB */
.gnb-list {
  display: flex;
  align-items: center;
}

.gnb-item {
  margin: 0 30px;
}

.gnb-link{
  font-size: 16px;
  color: #C3937C;
  line-height: 25px;
  transition: .2s;
}

.gnb-link:hover{
  text-shadow: 4px 4px 10px #C3937C, -4px -4px 10px #ecaf93;
}

.container {
  overflow: hidden;
  padding-top: 100px;
}

/* Key visual */
.key-visual {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key-visual-info {
  flex: 1;
  margin-right: 90px;
  padding-left: 160px;
}

.key-visual-image {
  position: relative;
  width: 60%;
}

.key-visual-image .thumb {
  display: block;
  position: relative;
  padding-top: 64.98%;
}

.key-visual-image .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.key-visual-image .decor {
  position: absolute;
  z-index: -1;
}

.key-visual-image .decor01 {
  bottom: -60px;
  left: 98px;
  z-index: 1;
  width: 474px;
  height: 233px;
}

.key-visual-image .decor02 {
  top: 40px;
  left: 45%;
  width: 170px;
  height: 347px;
}

.key-visual-image .decor03 {
  top: 260px;
  left: -164px;
  width: 354px;
  height: 312px;
}

.key-visual-image .decor04 {
  bottom: -100px;
  right: 0;
  z-index: 1;
  width: 270px;
  height: 340px;
}

.key-visual .text-sub {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  color: #787878;
  text-transform: uppercase;
}

.key-visual .text-title {
  margin-top: 12px;
  font-size: 56px;
  color: #C3937C;
}

.key-visual .text-desc {
  margin-top: 24px;
  font-size: 18px;
  color: #787878;
  line-height: 28px;
}

.key-visual .btn-kv {
  margin-top: 32px;
}

/* Section */
.section {
  padding: 120px 0;
}

.section .text-title {
  display: block;
  margin-top: 12px;
  font-size: 56px;
  color: #C3937C;
}

.section .text-sub {
  display: block;
  margin-top: 4px;
  font-size: 18px;
  color: #787878;
  text-transform: uppercase;
}

.section .text-desc {
  display: block;
  margin-top: 24px;
  font-size: 18px;
  color: #787878;
  line-height: 28px;
}

.section .btn-section {
  display: block;
  margin-top: 32px;
}

.section .section-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .section-item:not(:first-child) {
  margin-top: 250px;
}

.section .section-item:nth-child(even) .section-info {
  margin: 0 100px 0 0;
}

.section .section-item:nth-child(even) .thumb {
  border-radius: 0 0 0 300px;
}

.section .section-item:nth-child(even) .thumb-sub {
  right: auto;
  left: 200px;
}

.section .section-item:nth-child(even) .decor01 {
  top: -176px;
  right: -164px;
  left: auto;
  transform: rotate(90deg);
}

.section .section-item:nth-child(even) .decor02 {
  right: auto;
  left: 0;
  transform: scaleX(-1);
}

.section .section-image {
  position: relative;
  width: 860px;
}

.section .section-image .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 70%;
  border-radius: 0 0 300px 0;
}

.section .section-image .thumb-sub {
  position: absolute;
  right: 200px;
  bottom: -130px;
  z-index: 2;
  width: 267px;
  height: 351px;
}

.section .section-image .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section .decor {
  position: absolute;
  z-index: 1;
}

.section .section-image .decor01 {
  top: -168px;
  left: -170px;
  width: 394px;
  height: 407px;
}

.section .section-image .decor02 {
  right: -14px;
  bottom: -166px;
  width: 283px;
  height: 313px;
}

.section .section-info {
  flex: 1;
  margin-left: 100px;
}

/* Stories */
.stories {
  position: relative;
  width: 100%;
  max-height: max-content;
  margin-top: 80px;
  padding: 100px 0;
  background: url(../image/img-bg-storie.jpg) no-repeat center;
  background-size: cover;
}

.stories:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  content: '';
}

.stories .inner {
  position: relative;
  z-index: 2;
}

.stories .box-head {
  margin-bottom: 40px;
  text-align: center;
}

.stories .text-title {
  color: #fff;
}

.stories .text {
  margin-top: 16px;
  font-size: 18px;
  color: #fff;
  line-height: 28px;
}

/* Event */
.event .box-head {
  margin-bottom: 50px;
  text-align: center;
}

.event-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.event-item {
  position: relative;
  width: calc(50% - 60px);
  margin: 0 30px;
}

.event .event-thumb {
  display: block;
}

.event .event-detail {
  margin-top: 24px;
}

.section .event-detail .text-title {
  font-size: 30px;
  color: #787878;
}

.section .event-detail .text-desc {
  height: 50px;
}

.event-detail .text-time {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  color: #4d4d4d;
  line-height: 28px;
}

.event-detail .btn-section {
  min-width: 124px;
  margin-top: 24px;
  padding: 10px 5px;
}

.event .decor {
  z-index: -1;
} 

.event .decor01 {
  top: -126px;
  left: -172px;
  width: 400px;
}

.event .decor02 {
  right: -158px;
  bottom: 26px;
  width: 316px;
}

/* Gallery */
.gallery {
  position: relative;
  padding-top: 80px;
  text-align: center;
}

.gallery:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  border-radius: 0px 0px 300px 0px;
  background-color: #EAD9C9;
  content: '';
}

.gallery .box-head {
  width: 86%;
}

.gallery .box-head .text-sub,
.gallery .box-head .text-title {
  color: #787878;
}

.gallery .box-content {
  position: relative;
  margin-top: 60px;
}

.gallery .btn-section {
  display: inline-block;
  margin-top: 50px;
}

.swiper-gallery {
  position: static;
  margin: 0 24px;
}

.swiper-gallery .swiper-slide {
  width: 50%;
  opacity: .6;
  transition: all .3s linear;
  transform: scale(0.8);
}

.swiper-gallery .swiper-slide.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.swiper-gallery .swiper-slide .thumb {
  display: block;
  position: relative;
  width: 100%;
}

.swiper-gallery .swiper-slide .thumb img {
  width: 100%;
}

.swiper-gallery .swiper-button-prev,
.swiper-gallery .swiper-button-next {
  width: 45px;
  height: 45px;
  margin-top: -80px;
}

.swiper-gallery .swiper-button-prev {
  left: 0;
  background: url(../image/svg/icon-prev.svg) no-repeat;
  background-size: 100% auto;
}

.swiper-gallery .swiper-button-next {
  right: 0;
  background: url(../image/svg/icon-next.svg) no-repeat;
  background-size: 100% auto;
}

.swiper-gallery .swiper-button-prev:after,
.swiper-gallery .swiper-button-next:after {
  content: '';
}

/* Contact */
.contact {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 0;
}

.contact .decor01 {
  top: -70px;
  right: 0;
  z-index: -1;
  width: 400px;
}

.contact .box-head {
  flex: 1;
  margin-right: 90px;
  padding-left: 160px;
}

.contact .box-content {
  width: 50%;
  border-radius: 300px 0 0 0;
  background-color: #EAD9C9;
  box-sizing: border-box;
}

.contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 100px 0 70px 140px;
}

.contact-item {
  width: calc(50% - 80px);
  margin: 0 40px;
}

.contact-item .name {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #4d4d4d;
  line-height: 32px;
}

.contact-item .phone,
.contact-item .email {
  display: block;
  margin-top: 4px;
}

.contact-item .bank {
  display: inline-block;
  width: 150px;
  margin-top: 14px;
}

.contact-item .bank img {
  width: 100%;
}

.contact-link {
  display: inline-block;
  font-size: 18px;
  color: #787878;
  line-height: 28px;
  transition: .2s;
}

.contact-link:hover {
  color: #4d4d4d;
}


/* Footer */
footer {
  padding: 20px;
  background-color: #252424;
  text-align: center;
}

footer .copyright {
  font-size: 16px;
  color: #fff;
}


@media screen and (max-width: 1599px) and (min-width: 1025px) {
  .inner {
    width: 1440px;
    width: 90vw;
  }

  .key-visual-info,
  .contact .box-head {
    padding-left: 6vw;
  }

  .key-visual .text-title,
  .section .text-title {
    font-size: 40px;
    line-height: 50px;
  }

  .key-visual-info {
    margin-right: 40px;
  }

  .key-visual .text-sub {
    margin-top: 50px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 769px) {
  .btn {
    min-width: 136px;
    padding: 12px 24px;
  }

  .key-visual-image {
    width: 52%;
  }

  .key-visual-image .decor01 {
    bottom: -60px;
    left: 80px;
    z-index: 1;
    width: 258px;
    height: 138px;
  }

  .key-visual-image .decor02 {
    left: 52%;
    width: 88px;
    height: 196px;
  }

  .key-visual-image .decor03 {
    top: 200px;
    left: -100px;
    width: 228px;
    height: 258px;
  }

  .section .section-image {
    width: 55%;
  }

  .section .section-image .thumb {
    border-radius: 0 0 160px 0;
  }

  .section .section-item:nth-child(even) .thumb {
    border-radius: 0 0 0 160px;
  }

  .section .section-image .thumb-sub {
    bottom: -90px;
    width: 30%;
    height: auto;
  }

  .section .section-image .decor01 {
    top: -102px;
    left: -102px;
    width: 270px;
    height: 242px;
  }

  .section .section-image .decor02 {
    right: 42px;
    bottom: -116px;
    width: 175px;
    height: 178px;
  }

  .section .section-item:nth-child(even) .decor01 {
    top: -88px;
    right: -115px;
  }

  .section .section-item:nth-child(even) .decor02 {
    left: 60px;
  }

  .section .event-detail .text-title {
    font-size: 24px;
    line-height: 30px;
  }

  .gallery:before {
    border-radius: 0px 0px 300px 0px;
  }

  .contact .box-content {
    border-radius: 260px 0 0 0;
  }

  .contact-list {
    padding: 100px 0 70px 90px;
  }

  .contact-item .bank {
    width: 120px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .btn {
    font-size: 16px;
    line-height: 22px;
  }

  .key-visual .text-sub {
    margin-top: 20px;
  }

  .section .text-sub {
    font-size: 16px;
  }

  .section .text-desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .section.about {
    margin-top: 100px;
  }

  .section .section-image {
    width: 90%;
  }

  .section .section-image .thumb-sub {
    width: 26%;
    height: auto;
  }

  .section .section-info {
    width: 90%;
    margin: 90px 0 0;
  }

  .section .section-item:not(:first-child) {
    margin-top: 100px;
  }

  .section .section-item:nth-child(even) .section-image {
    order: 1;
  }

  .section .section-item:nth-child(even) .section-info {
    order: 2;
    margin: 90px 0 0;
  }

  .section .section-image .decor01 {
    top: -105px;
    left: -105px;
    width: 268px;
    height: 250px;
  }

  .section .section-image .decor02 {
    right: 55px;
    bottom: -155px;
    width: 200px;
    height: 250px;
  }

  .section .section-item:nth-child(even) .decor01 {
    top: -96px;
    right: -114px;
  }

  .section .section-item:nth-child(even) .decor02 {
    left: 60px;
  }

  .gallery {
    padding-top: 60px;
  }

  .gallery .box-head {
    width: 100%;
  }

  .swiper-gallery .swiper-slide {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }

  .contact {
   flex-direction: column;
   padding-bottom: 0;
  }

  .contact .box-head {
    flex: 1;
    margin-right: 0;
    padding: 0 20px;
    text-align: center;
  }

  .contact .box-content {
    width: 100%;
    margin-top: 50px;
  }

  .contact-list {
    padding: 60px 0 30px 155px;
  }

  .contact-item .name,
  .contact-link {
    font-size: 16px;
    line-height: 24px;
  }

  .contact .decor01 {
    top: 258px;
    right: auto;
    left: -62px;
    width: 236px;
    transform: rotate(-33deg);
  }
}

@media screen and (max-width: 1024px) {
  .inner {
    width: 100%;
    padding: 0 20px;
  }

  .header {
    height: 80px;
  }

  .header .btn-mobile {
    display: block;
  }

  .header-gnb .logo-link {
    width: 120px;
  }

  .header-gnb:after {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 1px;
    background-color: #ededed;
    opacity: 0;
    content: '';
  }

  .header .btn-mobile.is-active:before {
    top: 18px;
    background-color: #4d4d4d;
    transform: rotate(135deg);
  } 

  .header .btn-mobile.is-active:after {
    top: 18px;
    background-color: #4d4d4d;
    transform: rotate(-135deg);
  }

  .header-gnb.is-open .gnb {
    overflow: visible;
    top: 0;
  }

  .header-gnb.is-open:after {
    overflow: visible;
    opacity: 1;
  }

  .gnb {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: -100vh;
    right: 0;
    left: 0;
    z-index: -1;
    height: calc(var(--vh, 1vh)* 100);
    max-height: 100vh;
    margin-left: 0;
    background-color: #fff;
    transition: top .8s;
  }

  .gnb-list {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    padding: 120px 0 40px;
  }

  .gnb-list .gnb-item {
    margin: 25px 0 0;
  }

  .gnb-list .gnb-item:first-child {
    margin-top: 0;
  }

  .key-visual {
    flex-direction: column;
  }

  .key-visual-info {
    margin-right: 0;
    padding: 0 20px;
    text-align: center;
  }

  .key-visual-image {
    width: 100%;
    margin-top: 30px;
  }

  .section {
    padding: 80px 0;
  }

  .section .text-title {
    font-size: 28px;
    line-height: 30px;
  }

  .section .section-item {
    flex-direction: column;
  }

  .section.stories {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    min-width: 114px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .key-visual .text-sub {
    font-size: 14px;
  }

  .key-visual .text-title {
    font-size: 35px;
  }

  .key-visual .text-desc {
    margin-top: 16px;
    font-size: 14px;
    line-height: 22px;
  }

  .key-visual .btn-kv {
    margin-top: 16px;
  }

  .key-visual-image .thumb {
    padding-top: 73%;
  }

  .key-visual-image .decor01 {
    bottom: -50px;
    left: 10px;
    width: 150px;
    height: 128px;
  }

  .key-visual-image .decor02 {
    top: 0;
    left: 56%;
    width: 95px;
    height: 180px;
  }

  .key-visual-image .decor03 {
    display: none;
  }

  .key-visual-image .decor04 {
    right: 0;
    bottom: -66px;
    left: auto;
    width: 154px;
    height: 200px;
  }

  .section .text-sub {
    font-size: 14px;
  }

  .section .text-desc {
    margin-top: 14px;
    font-size: 14px;
    line-height: 22px;
  }

  .section.about {
    margin-top: 20px;
  }

  .section .section-image {
    width: 100%;
  }

  .section .section-image .thumb {
    border-radius: 0 0 60px 0;
  }

  .section .section-image .thumb-sub {
    right: 220px;
    bottom: -58px;
    width: 28%;
    height: auto;
  }

  .section .section-info {
    width: 100%;
    margin: 68px 0 0;
  }

  .section .section-item:not(:first-child) {
    margin-top: 68px;
  }

  .section .section-item:nth-child(even) .section-image .thumb {
    border-radius: 0 0 0 60px;
  }

  .section .section-item:nth-child(even) .section-image {
    order: 1;
  }

  .section .section-item:nth-child(even) .section-info {
    order: 2;
    margin: 68px 0 0;
  }

  .section .section-image .decor01 {
    top: -58px;
    left: -58px;
    width: 190px;
    height: 138px;
  }

  .section .section-image .decor02 {
    right: -14px;
    bottom: -66px;
    z-index: -1;
    width: 124px;
    height: 120px;
  }

  .section .section-item:nth-child(even) .decor01 {
    top: -32px;
    right: -84px;
  }

  .section .section-item:nth-child(even) .decor02 {
    left: -14px;
  }

  .event .event-list {
    flex-direction: column;
  }

  .event-item {
    width: 100%;
    margin: 0;
  }

  .event-item:not(:first-child) {
    margin-top: 32px;
  }

  .section .event-detail .text-title {
    font-size: 18px;
    line-height: 24px;
  }

  .section .event-detail .text-desc {
    height: auto;
  }

  .section .event-detail .text-time {
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
  }

  .event-detail .btn-section {
    min-width: 114px;
    margin-top: 16px;
    padding: 8px 5px;
  }

  .event .decor01 {
    top: -88px;
    left: -116px;
    width: 200px;
  }

  .event .decor02 {
    right: -70px;
    bottom: 80px;
    width: 160px;
  }

  .section.gallery {
    padding: 50px 0;
  }

  .gallery:before {
    width: 100%;
    border-radius: 0;
  }

  .gallery .box-head {
    width: 100%;
  }

  .swiper-gallery .swiper-slide {
    width: 100%;
    opacity: 1;
    transform: scale(1);
  }

  .swiper-gallery .swiper-button-prev,
  .swiper-gallery .swiper-button-next {
    top: auto;
    bottom: 72px;
    width: 40px;
    height: 40px;
    margin-top: 0;
  }

  .swiper-gallery .swiper-button-prev {
    left: calc(50% - 45px);
  }

  .swiper-gallery .swiper-button-next {
    right: calc(50% - 45px);
  }

  .swiper-gallery {
    margin: 0;
    padding-bottom: 50px;
  }

  .gallery .btn-section {
    margin-top: 34px;
  }

  .section.contact {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .contact .box-head {
    margin: 0;
    padding: 0 20px;
  }

  .contact .box-head .text-title {
    text-align: center;
  }

  .contact .box-content {
    width: 100%;
    margin-top: 24px;
    padding: 0 20px;
    border-radius: 0;
    background-color: transparent;
  }

  .contact-list {
    flex-direction: column;
    padding: 0;
  }

  .contact-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 0;
  }

  .contact-item:first-child {
    margin-top: 0;
  }

  .contact-item .name {
    margin-top: 2px;
    font-size: 16px;
    line-height: 24px;
  }

  .contact-link {
    font-size: 14px;
    line-height: 20px;
  }

  .contact-item .phone, .contact-item .email {
    margin-top: 0;
    line-height: 20px;
  }

  .contact-item .contact-detail .bank {
    width: 80px;
    margin-top: 12px;
  }

  .contact-item .contact-detail {
    margin-left: 16px;
  }

  .contact-item .contact-detail>span {
    margin-top: 4px;
  }

  .contact-item .contact-detail .phone {
    margin-top: 0;
  }

  .contact .decor01 {
    top: 0px;
    right: -46px;
    width: 220px;
    transform: rotate(-144deg);
  }
}

/* Keyframe */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
	100% {
    opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
	100% {
    opacity: 1;
		transform: translateX(0);
	}
}

@keyframes zoom-fade {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom-fade-bg {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    filter: grayscale(0%);
  }
}